@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 280 85% 95%;
    --foreground: 280 84% 20%;

    --card: 340 85% 95%;
    --card-foreground: 340 84% 20%;

    --popover: 50 85% 95%;
    --popover-foreground: 50 84% 20%;

    --primary: 160 70% 50%;
    --primary-foreground: 160 84% 98%;

    --secondary: 340 90% 65%;
    --secondary-foreground: 340 40% 98%;

    --muted: 50 40% 96.1%;
    --muted-foreground: 50 16.3% 46.9%;

    --accent: 280 90% 65%;
    --accent-foreground: 280 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 40% 98%;

    --border: 280 31.8% 91.4%;
    --input: 280 31.8% 91.4%;
    --ring: 280 84% 40%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 280 50% 15%;
    --foreground: 280 40% 98%;

    --card: 340 50% 15%;
    --card-foreground: 340 40% 98%;

    --popover: 50 50% 15%;
    --popover-foreground: 50 40% 98%;

    --primary: 160 70% 50%;
    --primary-foreground: 160 84% 98%;

    --secondary: 340 90% 65%;
    --secondary-foreground: 340 40% 98%;

    --muted: 50 32.6% 17.5%;
    --muted-foreground: 50 20.2% 65.1%;

    --accent: 280 90% 65%;
    --accent-foreground: 280 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 40% 98%;

    --border: 280 32.6% 17.5%;
    --input: 280 32.6% 17.5%;
    --ring: 280 26.8% 83.9%;

    --radius: 0.5rem;
  }
}